html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.content {
	z-index: 50;
	position: relative;
	height: 100%;
	width: 100%;
	padding: 20px;
	padding-top: 60px;
	box-sizing: border-box;
}

.menu {
	z-index: 100;
	position: absolute;
	width: 100%;
}